.tableInputs {
            font-family: Times New Roman !important;
            border-collapse: collapse;
            width: 98%;
            margin-bottom: 10px;
        }

        .thInputs {
            font-size: 16pt !important;
            font-weight: bold !important;
            font-family: Times New Roman !important;
            border: 1px solid black;
            text-align: center;
            padding: 8px;
            color: black !important;
        }

        .tdInputs {
            font-size: 15pt !important;
            font-family: Times New Roman !important;
            border: 1px solid black;
            padding: 8px;
            color: black !important;
                        text-align: center;
        }